@import url('https://fonts.googleapis.com/css?family=K2D');
body {
  font-family: 'K2D', Helvetica, Arial, Sans-Serif;
  padding: 0px;
  margin: 0px;
}

.btn {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
}
